@media (max-width: 500px) {
  .main-container {
    height: auto;
  }

  main {
    grid-template-columns: auto;
  }

  header {
    width: 400px;
    text-align: center;
    color: var(--Very-Dark-Blue);
    margin-top: 100px;
  }

  header p {
    width: 340px;
  }

  .contianer {
    height: auto;
  }

  footer {
    margin-bottom: 20px;
  }
}
