@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  --font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    overflow-x: hidden;
}

/* Utility Class */

.d-flex {
    display: flex;
    justify-self: center;
    align-items: center;
}

.main-container {
    width: 100vw;
    height: 140vh;
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header {
    width: 550px;
    text-align: center;
    color: var(--Very-Dark-Blue);
    flex-direction: column;
}

header h1 {
    font-size: 2rem;
    font-weight: 200;
}

header h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
}

header p {
    color: var(--Grayish-Blue);
}

/* card-container */

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.contianer {
    width: 330px;
    height: 580px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
}

/* Cards */

.card {
    width: 320px;
    height: 250px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 15px 25px -15px rgba(0,0,0,0.75);
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}

.card h3 {
    font-weight: 600;
    color: var(--Very-Dark-Blue);
}

.card p {
    margin-top: 10px;
    color: var(--Grayish-Blue);
    font-weight: 300;
}

.card img {
    width: 60px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.cyan {
    border-top: 5px solid var(--Cyan);
}

.red {
    border-top: 5px solid var(--Red);
}

.orange {
    border-top: 5px solid var(--Orange);
}

.blue {
    border-top: 5px solid var(--Blue);
}