@media (max-width: 768px) {
    .nav-link {
        display: none;
    }

    .hero-section h1 {
        font-size: 27px;
    }

    .transform-container {
        flex-direction: column;
    }

    .transform-container .left-container {
        width: 100%;
    }

    .content-container {
        flex-direction: column-reverse;
    }

    .content-container .left-container, .right-container {
        width: 100%;
    }
}