@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --soft-red      : hsl(7, 99%, 70%);
    --yellow        : hsl(51, 100%, 49%);
    --dark-desaturated-cyan-graphic-design-text : hsl(167, 40%, 24%);
    --dark-blue-photography-text : hsl(198, 62%, 26%);
    --dark-moderate-cyan-footer  : hsl(168, 34%, 41%);

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --font-family-1: 'Barlow', sans-serif;
    --font-family-2: 'Fraunces', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Nav and Header */

nav {
    width: 100vw;
    height: 100px;
    padding: 0 35px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: var(--font-family-1);
}

nav .nav-link a {
    margin-left: 50px;
}

.hero-section {
    width: 100vw;
    height: 100vh;
    background: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
}

.hero-section h1 {
    color: #fff;
    position: relative;
    top: 20%;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
}

.hero-section img {
    color: #fff;
    position: relative;
    left: 50%;
    top: 32%;
    transform: translateX(-50%);
}

/* utility class */

.btn {
    text-transform: uppercase;
    background-color: #fff;
    color: #111;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: var(--font-family-2);
    font-weight: bold;
}