@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 499px;
}

.qr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.qr img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.text {
    margin: 0 auto;
    width: 288px;
    height: 131px;
    text-align: center;
    padding: 0px 16px;
}

.text h1 {
    font-weight: bold;
    line-height: 120%;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    margin-bottom: 16px;
}

.text p {
    font-weight: 400;
    line-height: 140%;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    line-height: 1.5;
}

.attribution {
    position: absolute;
    bottom: 20px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}